# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.Python

# Virtual environment
absonco/
env/
*.env

# Django
db.sqlite3               # Ignore local SQLite database (use a production database)
*.log
local_settings.py         # Ignore settings file that might contain sensitive information

# Ignore migrations cache
**/migrations/__pycache__/

# VSCode and IDE files
.vscode/
.idea/

# Secrets
*.pem
*.crt
*.key

# Other directories
Lib/
Scripts/

# Django app-specific directories
absoncoWeb/core/migrations

# Ignore virtual environment configuration file
pyvenv.cfg


# Ignore env
.env