{% extends 'base.html' %}
{% block content %}
<div class="container my-4 text-center">
    <h2 style="color: #01039D; font-family: 'Geist', sans-serif; font-weight: 500;">Payment Cancelled</h2>
    <p style="color: #01039D; font-weight: 400;">Your payment was cancelled. Please try again or contact support.</p>
    <a href="{% url 'core:cart_view' %}" class="btn" style="background-color: #42A5F5; color: #000000; font-family: 'Geist', sans-serif; font-weight: 400; border-radius: 1rem;">Return to Cart</a>
</div>
{% endblock %}