.item-detail{
    width:95vw;
    padding:100px 20px;
    border : 0.4px solid rgba(0, 0, 0, 0.128);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    object-fit: contain;
    font-family: Nexa;
    height: 90vh;
    


}
.imgContainer{
    /* background-color: brown; */
    width:700px;
    height:750px;
    border:none;
    border-radius: 15px;
    object-fit: contain;
}
.item-detailTxt{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    margin-top: -650px;
    height:600px;
    /* background-color: brown; */
    width: 50%;
    float: right;
    padding: 0px 20px;
}
.item-detail img{
    width:95%;
    height:auto;
    object-fit: contain;
}
.item-detail h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    
    width: 600px;
    /* background-color: aqua; */
}

.item-detail h2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    /* margin-right: 430px;  */
}

.item-detail p {
    font-weight: 300;
    font-size: 15px;
    max-width: 500px; /* Limit paragraph width */
    line-height: 1.5; /* Improve readability */
    height:800px;

}
.cart-counter{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    background-color: white;
    width: 150px;
    margin-bottom: 10px;
    border:1px solid black;
    padding:5px 5px;
}
.cart-counter button{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width:50px;
    /* background-color: ; */
}
#display{
    /* width: 100px; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: bisque; */
    margin-top: 0px;
    font-weight: 700;
    border: none;
    width: 40px;
    text-align: center;
    

   
}
input:active, input:focus { 

    border:none;
    outline: none;
    background-color: #ffffff;
  }
#display::-webkit-outer-spin-button,
#display::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* #display[type='number'] {
    -moz-appearance: textfield; /* Firefox */
